[submodule "dot_vim/bundle/vim-fugitive"]
	path = dot_vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "dot_vim/bundle/vim-git"]
	path = dot_vim/bundle/vim-git
	url = git@github.com:tpope/vim-git.git
