[submodule "dot_vim/bundle/vim-fugitive"]
	path = dot_vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "dot_vim/bundle/vim-git"]
	path = dot_vim/bundle/vim-git
	url = git@github.com:tpope/vim-git.git
[submodule "dot_bash-git-prompt"]
	path = dot_bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
[submodule "dot_vim/bundle/vim-json"]
	path = dot_vim/bundle/vim-json
	url = git@github.com:elzr/vim-json.git
[submodule "dot_vim/bundle/SudoEdit.vim"]
	path = dot_vim/bundle/SudoEdit.vim
	url = git@github.com:chrisbra/SudoEdit.vim.git
[submodule "dot_vim/bundle/vim-easytags"]
	path = dot_vim/bundle/vim-easytags
	url = git@github.com:xolox/vim-easytags.git
[submodule "dot_vim/bundle/vim-misc"]
	path = dot_vim/bundle/vim-misc
	url = git@github.com:xolox/vim-misc.git
[submodule "dot_bash_prompt"]
	path = dot_bash_prompt
	url = https://gist.github.com/2920594.git
[submodule "dot_vim/bundle/tagbar"]
	path = dot_vim/bundle/tagbar
	url = git@github.com:majutsushi/tagbar.git
[submodule "dot_vim/bundle/ctrlp.vim"]
	path = dot_vim/bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
